<div class="site-footer">

  <div class="container-xl">


    <div class="footer-main">


      <!-- ==================================================
           BRAND
      ================================================== -->

      <div class="footer-brand">

        <a
          href="index.html"
          class="footer-logo"
          aria-label="L&R Design and Build LTD home"
        >

          <img
            src="images/lr-design-build-logo.jpg"
            alt="L&R Design and Build LTD"
            width="220"
            height="60"
          >

        </a>


        <p class="footer-description">

          L&amp;R Design &amp; Build is a Wigan-based building
          company with 15 years of construction industry experience,
          delivering house extensions, new build homes, brickwork,
          groundwork, renovations and property improvements across
          Greater Manchester and the wider North West.

        </p>


        <div
          class="footer-socials"
          aria-label="L&R Design and Build social media"
        >

          <a
            href="https://www.facebook.com/profile.php?id=61580972466196"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="L&R Design and Build on Facebook"
          >
            <i
              class="bi bi-facebook"
              aria-hidden="true"
            ></i>
          </a>


          <a
            href="https://www.instagram.com/lr.designandbuild"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="L&R Design and Build on Instagram"
          >
            <i
              class="bi bi-instagram"
              aria-hidden="true"
            ></i>
          </a>

        </div>

      </div>



      <!-- ==================================================
           WEBSITE LINKS
      ================================================== -->

      <div class="footer-column">

        <h2>
          Website
        </h2>


        <a href="index.html">
          Home
        </a>


        <a href="about-builders-wigan.html">
          About
        </a>


        <a href="building-services-wigan.html">
          Building Services
        </a>


        <a href="building-project-gallery-wigan.html">
          Project Gallery
        </a>


        <a href="contact-builders-wigan.html">
          Contact
        </a>

      </div>



      <!-- ==================================================
           SERVICES
      ================================================== -->

      <div class="footer-column">

        <h2>
          Building Services
        </h2>


        <a href="building-services-wigan.html#house-extensions">
          House Extensions
        </a>


        <a href="building-services-wigan.html#new-build-homes">
          New Build Homes
        </a>


        <a href="building-services-wigan.html#brickwork">
          Brickwork
        </a>


        <a href="building-services-wigan.html#groundwork">
          Groundwork
        </a>


        <a href="building-services-wigan.html#renovations">
          Renovations
        </a>


        <a href="building-services-wigan.html#landscaping">
          Landscaping
        </a>


      </div>



      <!-- ==================================================
           CONTACT
      ================================================== -->

      <div class="footer-column footer-contact">

        <h2>
          Contact
        </h2>


        <a
          href="tel:+447507705621"
          class="footer-phone"
        >
          07507 705621
        </a>


        <a
          href="mailto:lrdesignandbuild@gmail.com"
          class="footer-email"
        >
          lrdesignandbuild@gmail.com
        </a>


        <p class="footer-location">

          Based in Wigan<br>
          Greater Manchester<br>
          Serving the wider North West

        </p>

      </div>


    </div>



    <!-- ==================================================
         BOTTOM
    ================================================== -->

    <div class="footer-bottom">


      <div class="footer-bottom-left">

        <p class="footer-copyright">

          ©
          <span data-current-year></span>
          L&amp;R Design &amp; Build LTD.
          All rights reserved.

        </p>


        <p class="footer-designer">

          Website designed with
          <span
            class="footer-heart"
            aria-hidden="true"
          >
            🩵
          </span>
          by

          <a
            href="https://cleandesignuk.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Clean Design UK
          </a>

        </p>

      </div>



      <div class="footer-legal">

        <a href="privacy-policy.html">
          Privacy Policy
        </a>


        <a href="cookie-policy.html">
          Cookie Policy
        </a>

      </div>


    </div>


  </div>

</div>